@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Mukta+Malar:wght@500&family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Kanit:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    border: 0em;
    margin: 0em;
    padding: 0em;
    outline: 0em;
}
html{
    scroll-behavior: smooth;
}
html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    /* overflow-x: hidden !important; */
}
body{
    /* background: rgb(15, 14, 14) !important; */
    background:transparent;
    font-family: sans-serif !important;
}
::-webkit-scrollbar{
  width:0;
}
#navigation_bar{
    background-color: black !important;
}
#nav-links{
    padding-left: 45vw;
    text-align: right;
}
.navbar li{
    float: left;
    list-style: none;
    padding-right: 2vw;
    margin: 13px 4px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    text-shadow: 0.1vw 0.1vw 0.1vw red;
}
.navbar li a:hover{
    color:red;
    font-size: 1vw;
}
.nav-logo{
    color:white;
    padding-left: 2vw;
} 
@media(max-width:1393px){
  #nav-links{
    padding-left: 54vw;
    text-align: right;
}
}
@media(max-width:1298px){
  #nav-links{
    padding-left: 50vw;
    text-align: right;
}
}
@media(max-width:1174px){
  #nav-links{
    padding-left: 46vw;
    text-align: right;
}
}
@media(max-width:1071px){
  #nav-links{
    padding-left: 42vw;
    text-align: right;
}
}
.banner-text {
    color:rgb(12, 12, 12);
   
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Zen Dots', cursive;
    /* letter-spacing: 7px; */
    cursor: pointer;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 21vw;
    padding-right: 1vw;
    text-shadow: 0vw 0.3vw 0.1vw rgb(12, 12, 12);
  }
  .banner-text {
    background: linear-gradient(to right, rgb(201, 15, 15) 0, grey 10%,   rgb(201, 15, 15) 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    position: relative;
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60%{
      background-position:900px;
    }
    100% {
      background-position: 600px;
    }
  }
  footer{
    margin-top: 100vw;
  }
  #banner-container{
    height:70vw;
    padding: 0vw;
    background: url('croppedrawelectronicspicture.jpg');
    /* opacity: -50px; */
    /* background: url('editedelectronicspicture.jpg'); */
    position: relative;
    background-size: cover;
    overflow:hidden;
  }
     /* .dropdown_menu{ 
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
   }
   .dropdown_menu ul {
    display: block;
    margin: 10px;
   }
   .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
   } 
    */
    @media(max-width:1267px){
      .banner-text{
        margin-left: 2vw !important;
        font-size: 4vw;
      }
    }
    .form_bg{
      background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      height: 100vh;
      display: flex;
      align-items: center ;
    }
    .form_horizontal{
      text-align: center;
    }
    .form_horizontal .form_icon{
      color: #051937;
      font-size: 100px;
      line-height: 85px;
      margin: 0 0 13px;
    }
    .form_horizontal .title{
      color: #051937;
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 0 35px 0;
    }
    .form_horizontal .form-group{
      margin: 0 0 10px;
      position: relative;
    }
    .form_horizontal .input-icon{
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 13px;
      color:#051937;
    }
    .form_horizontal .form-control{
      /* color: aqua; */
      background-color: #fff;
      font-size: 13px;
      letter-spacing: 1px;
      height: 37px;
      padding: 2px 15px 2px 35px;
      border: none;
      border-radius: 50px;
    }
    .form_horizontal .form-control::placeholder{
      color: rgba(0,0,0,0.7);
      font-size: 14px;
      text-transform: capitalize;
    }
    .signin{
      color: #fff !important;
      background: #051937 !important;
      font-size: 1.1vw !important;
      font-weight: 600;
      letter-spacing: 1px;
      width: 100% !important;
      padding: 10px 20px !important;
      margin: 0 0 15px 0 !important;
      border: none;
      border-radius: 2vw !important;
      text-transform: uppercase;
    }
    #form-login-1{
      color: #051937 ;
      text-decoration: none;
      font-size: 0.9vw;
      font-weight: bold;
    }
    .form_horizontal .form-options{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .form_horizontal .form-options li a{
      color: #fff;
      letter-spacing: 0.5px;
      margin: 0 0 10px;
      display: block;
    }
    .form_horizontal .form-options li a i{
      font-size: 12px;
    }
    #form-login-1:hover{
      color: #051937 ;
      font-size: 1vw;
    }
   /* captcha */
   /* .contain{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 4vw;
   }
    #capt{
    width: 120px;
    height: 45px;
    font-size: 37px;
    background-color: #051937;
    padding: 5px;
    border: none;
    letter-spacing: 1px;
    float: left;
    /* color: red; */
    /* border-radius: 5px 0 0 5px;
   } 
   #refresh{
    float: left;
    background-color: #fff;
    height: 45px;
    border-radius: 0 5px 5px 0;
   }
   #refresh img{
    margin-top: 20px;
    cursor: pointer;
   }
    #textinput{
    width: 120px;
    height: 50px;
    font-size: 37px;
    background-color: #252521;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    color: #a8eb12;
   } 
   .contain button{
    padding: 1vw;
    height: 45px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 2vw;
    margin-top: -0.1vw;
    background-color: #764d11;
    color: #CED4F0;
    transition: 0.5s;
   }
 
    */ 
   #image{
    /* height: 1vw; */
    width: 6vw;
    background-image: linear-gradient(to right top, #6dcddf, #01dcd6, #00e7b2, #5aec76, #a8eb12);
    padding: 1VW !important;
    text-align: center !important;
    align-items: center;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    font-family: 'Arvo', serif;
   
   }
   #submit{
   font-size: 1.2vw; 
    border-radius: 1px;
    width: 5.5vw;
    height: 3vw;
    align-items: center;
    border-radius: 0.5vw;
    background-image: linear-gradient(to right top, rgb(164, 87, 164),white);
   }
   #captcha-id{
    font-size: 1.3vw;
    margin-left: 6vw;
    margin-top: -20vw;
    position: absolute;
   }
   /* signup form */

  .signup-bg{
    display: flex;
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(to right top, #4bebf9, #80f0f0, #a5f4ec, #c4f8eb, #dffbf0, #defbef, #dcfaef, #dbfaee, #bdf6e9, #99f1ea, #6cecef, #0ae6f9);
    align-items: center;
    padding: 10px;
  }
  .container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
  }
  .container .title{
    font-size: 3vw;
    font-weight: 500;
    position: relative;
    font-family: 'Yeseva One', cursive;;
  }
  .container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #00e7b2;
  }
  .container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vw;
  }
   form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
   }
   .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
   }
   .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:#051937;
    padding-left: 15px;
    font-size: 16px;
   }
   #form-login-2{
    color: black;
    font-size: 1vw;
  }
  #form-login-2:hover{
    color: black;
    font-size: 1.1vw;
  }
  #sign-up{
    font-size: 1.2vw;
    border-radius: 3vw;
    box-shadow:  0.1vw 0.1vw 0.1vw 0.1vw #17cccc;
    background-color: #051937;
    
  }
 /* .input-box input{
  border: 1px solid black;
 } */
 #form-box{
  box-shadow:  0.2vw 0.1vw 0.3vw 0vw #001fe7;
 }
 .about{
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  text-shadow: 0.1vw 0.2vw 0.2vw yellow;
  text-align: center;
 }
 /* #subjects{
  background-color: #f9950a;
  border-radius: 1vw;
  height: 16vw;
  width: 15vw;
 } */

 .sub-body{
  background-image: linear-gradient(to bottom, #050505, #323538, #5c6768, #8e9d96, #cfd4c3);
 }
 #subject1{
  background-color:yellow;
  height: 15vw;
  width: 20vw;
  margin-top: 20vw;
  margin-right: 4vw;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.6vw 0.6vw  #050505;
 }
 #subject1:hover{
  width: 22vw;
  height: 16vw;
  background-image: linear-gradient(to bottom, #f1f3da, #f0f6b3, #eefa8b, #eafc5c, #e5ff00);
 }

 #subject2{
  background-color: yellow;
  height: 15vw;
  width: 20vw;
  margin-top: 20vw;
  margin-right: 5vw;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.6vw 0.6vw  #050505;
 }
 #subject2:hover{
  width: 22vw;
  height: 16vw;
  background-image: linear-gradient(to bottom, #f1f3da, #f0f6b3, #eefa8b, #eafc5c, #e5ff00);
 }
 #subject3{
  background-color: yellow;
  height: 15vw;
  width: 20vw;
  margin-top: 20vw;
  /* margin-right: 8vw; */
  margin-bottom: 10vw;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.6vw 0.6vw  #050505;
 }
 #subject3:hover{
  width: 22vw;
  height: 16vw;
  background-image: linear-gradient(to bottom, #f1f3da, #f0f6b3, #eefa8b, #eafc5c, #e5ff00);

 }
 .subjects{
  display: flex;
  font-size: 2vw;
  font-family: 'Russo One', sans-serif;
  overflow-y: hidden;
  justify-content: center;
 }
 .class{
  text-decoration: none;
  color: #050505;
 }
 .class:hover{
  color: #050505;
 }
 .write{
  font-size: 1vw;
  font-family: 'Crimson Text', serif;
 }
 .text-black{
  text-decoration: none;
 }
 #footer-contain{
  /* background:rgb(195, 154, 236); */
  /* background:rgb(202, 196, 196); */
  /* background-image: linear-gradient(to bottom, #f6f6f6, #cbc0fa, #9f8af9, #6f53f4, #2600eb); */
  /* background: #29e0d7; */
  /* background: #BBFFFC; */
  background: black;
 }
 #college-name{
  font-size: 1vw;
  font-family: 'Days One', sans-serif;
  color: white;
 }
 #college-name:hover{
  color: rgb(255, 170, 0);
 }
 #college-namehr{
  font-size: 1vw;
  font-family: 'Days One', sans-serif;
  color: white;
 }
 #footer-text{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5VW;
  color: rgba(191, 184, 184, 0.823);
  /* text-shadow: 0vw 0.1vw 0.1vw rgb(218, 248, 65); */
 }
 #admin-email{
  font-family: 'Kanit', sans-serif;
  font-size: 1.2vw;
  color: white;
 }
 #admin-email:hover{
  color: rgb(255, 170, 0);
 }
 #subfoot-text{
  font-family: 'Saira', sans-serif;
  color: white;
  text-decoration: none;
 }
 #subfoot-text:hover{
  color: rgb(255, 170, 0);
 }
 #copy{
  font-family: 'DM Serif Display', serif;
  color: white;
 }
#develop{
  font-family: 'Gelasio', serif;
  color: white;
}
#number{
  color: white;
}
#number:hover{
  color: rgb(255, 170, 0);
}
#line{
  color: white;
}
.BasicBody{
  background-image: linear-gradient(to right top, #43433d, #5f5f59, #7c7d76, #9a9c94, #babcb4, #bbbdb5, #bdbeb7, #bebfb8, #a1a19b, #85847f, #696864, #4f4e4b);
}
#Elab{
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 3vw;
}


 